build --action_env=BAZEL_CXXOPTS="-std=gnu++14"
build --cxxopt='-std=gnu++14'
build --conlyopt='-std=gnu11'

# Enable toolchain resolution with cc
build --incompatible_enable_cc_toolchain_resolution

build:kelvin --platforms=//platforms/riscv32:kelvin
