build --action_env=BAZEL_CXXOPTS="-std=c++17"
build --cxxopt='-std=c++17'
build --conlyopt='-std=c11'

# Enable toolchain resolution with cc
build --incompatible_enable_cc_toolchain_resolution

build:kelvin --platforms=//platforms/riscv32:kelvin

# Test environment variable for kelvin_sim test_runner.sh
test --test_env=ROOTDIR

# Set preprocessor defines for tflite-micro.
build --copt=-DTF_LITE_USE_GLOBAL_CMATH_FUNCTIONS
build --copt=-DTF_LITE_USE_GLOBAL_MIN
build --copt=-DTF_LITE_USE_GLOBAL_MAX
build --copt=-DTF_LITE_MCU_DEBUG_LOG
build:opt --copt=-DTF_LITE_STRIP_ERROR_STRINGS
